{% extends 'base.html.twig' %}

{% block title %}Hello SuccessController!{% endblock %}

{% block body %}
<div class="container">
    <h1>Ohlala! Success</h1>
    {{ mess }} - {{ created }}
</div>
{% endblock %}
