{% extends 'base.html.twig' %}

{% block title %}Hello ButtonController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello ButtonController! ✅</h1>

    <form action="/post/ok" method="GET">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="submit" class="btn btn-secondary">Left</button>
            <button type="submit" class="btn btn-secondary" formmethod="POST">Middle</button>
            <button type="submit" class="btn btn-secondary" formaction="/post/ok/8">Right</button>
            
        </div>
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="submit" class="btn btn-primary" formaction="/button/Primary">Primary</button>
            <button type="submit" class="btn btn-alert" formaction="/button/Alert">Alert</button>
            <button type="submit" class="btn btn-warning" formaction="/button/Warning">Warning</button>
            
        </div>
    </form>
    <form action="/button/param/2021" method="POST">
        <input name="y" value="2031">
        <button>Save</button>
    </form>
    <ul>
        <li>{{ x ?? "" }}</li>
        <li>{{ y ?? "" }}</li>
    </ul>

</div>
{% endblock %}
